<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/views/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>users</servlet-name>
        <jsp-file>/views//users/users.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>create</servlet-name>
        <jsp-file>/views/users/create.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/users/create</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>processCreate</servlet-name>
        <jsp-file>/views/users/processCreate.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>processCreate</servlet-name>
        <url-pattern>/processCreate</url-pattern>
    </servlet-mapping>
</web-app>